#kwyk-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1000;
    font-family: var(--bs-font-sans-serif);
  }
  
  .kwyk-popup-content {
    padding: 20px;
  }
  
  .kwyk-popup-content p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: var(--bs-body-color);
  }
  
  .kwyk-button {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #fcfcfc;
    background-color: #4c7f43;
    border-color: #4c7f43;
    margin-right: 10px;
  }
  
  .kwyk-button:hover {
    background-color: #416c39;
    border-color: #3d6636;
  }
  
  .kwyk-button-no {
    background-color: #E3023E;
    border-color: #E3023E;
  }
  
  .kwyk-button-no:hover {
    background-color: #b52b26;
    border-color: #a02321;
  }
  
  .toggle {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .toggle input {
    display: none;
  }
  
  .toggle-label {
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    margin-right: 10px;
    position: relative;
    width: 50px;
  }
  
  .toggle-label:before {
    background-color: #fff;
    border-radius: 50%;
    content: '';
    height: 21px;
    left: 2px;
    position: absolute;
    top: 2px;
    transition: 0.3s;
    width: 21px;
  }
  
  .toggle input:checked + .toggle-label {
    background-color: #4c7f43;
  }
  
  .toggle input:checked + .toggle-label:before {
    transform: translateX(25px);
  }
  